<!doctype html>
<html lang="en">

<head>
    <title>Python Flask Image Upload and Display Example</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        .label-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>

<body>
<div class="container">
    <h2>Select an image to upload and display</h2>

    <form method="post" action="/" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control-file" autocomplete="off" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>

    {% if filename %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('display_image', filename=filename) }}" class="img-thumbnail">
        </div>
        <div class="col-md-6">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="color-tab" data-toggle="tab" href="#color">Color Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="annotate-tab" data-toggle="tab" href="#annotate">Annotated Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="labels-tab" data-toggle="tab" href="#labels">Image Labels</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="color" class="tab-pane active">
                    <!-- Color Analysis -->
                    <h4>Image Analysis - Step 1: Color Analysis</h4>
                    <div class="palette" style="height: 150px; display: flex; flex-direction: row;">
                        {% set total = image_properties|sum(attribute='fraction') %}
                        {% for color_info in image_properties %}
                        <div data-toggle="tooltip" title="{{ ((color_info.fraction / total) * 100) | round(2) }}%"
                             style="background-color: {{ color_info.color }}; height: 150px; width: {{ (color_info.fraction / total) * 100 }}%;"></div>
                        {% endfor %}
                    </div>


                </div>
                <div id="annotate" class="tab-pane">
                    <!-- Annotated Image -->
                    <h4>Image Analysis - Step 2: Annotated Image</h4>
                    <img src="{{ url_for('static', filename='uploads/output.png') }}" class="img-thumbnail">
                </div>
                <div id="labels" class="tab-pane">
                    <!-- Image Labels -->
                    <h4>Image Analysis - Step 3: Image Labels</h4>
                    {% for label in labels %}
                    <div class="label-item">
                        <span class="label-description">{{ label.description }}</span>
                        <span class="label-score">{{ (label.score * 100)|round(2) }}%</span>
                    </div>
                    <div class="score-bar" style="background-color: gray; width: 100%; height: 10px;">
                        <div style="background-color: green; height: 10px; width: {{ (label.score * 100)|round(2) }}%;"></div>
                    </div>


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<!-- jQuery, Popper.js, and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>


<!-- Initialize Tooltips -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>